.hero {
  margin-top: 24px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    position: relative;
  }
  &-block {
    position: absolute;
    bottom: 32px;
    left: 32px;

    font-family: "Trebuchet MS";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    padding: 45px 40px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: rgba(255, 242, 0, 0.7);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &-text {
    margin-bottom: 16px;
  }
  &-code {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
  }
  &-number {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
    padding: 2px 5px;
  }
  &-descript {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &-wrap {
  }
  &-naming {
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    &__title {
      margin-right: 20px;
      font-family: "Trebuchet MS";
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 130%;
      border-bottom: 1px solid #00000030;
    }
    &__list {
      margin-right: 20px;
      display: flex;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 3px;
      }
    }
    &__icon {
      width: 28px;
      height: 26px;
    }
    &__cost {
      font-family: "Trebuchet MS";
      font-weight: 700;
      font-size: 35px;
      line-height: 130%;
      text-align: center;
      color: #000000;
    }
  }
  &-rating {
    display: flex;
    align-items: center;
    &__title {
      padding: 10px 0;
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      margin-right: 32px;
    }
    &__review {
      font-weight: 700;
    }
    &__text {
      margin-right: 32px;
      padding: 12px 8px;
      font-family: "Trebuchet MS";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #ffffff;
      background: #008baa;
    }
    &__list {
      display: flex;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
    &__descr {
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #000000;
    }
    &__numbers {
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
    }
  }
  &-days {
    position: absolute;
    top: -60px;
    right: 112px;
    margin-left: auto;
    &__number {
      font-family: "Trebuchet MS";
      font-size: 88px;
      line-height: 102px;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: #777777;
    }
    &__text {
      margin-top: -10px;
      font-size: 30px;
      line-height: 31px;
      color: #000000;
    }
  }
}
