.info {
  &-flex {
    display: flex;
    border-bottom: 1px solid rgb(224, 224, 224);
  }
  &-texts {
    margin-right: 36px;
  }
  &-title {
    font-family: "Trebuchet MS";
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    margin-bottom: 32px;
  }
  &-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
    &__bold {
      font-weight: 700;
    }
  }
  &-second__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    margin-bottom: 8px;
  }
  &-second__text {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 24px;
  }
  &-fact {
    position: relative;
    font-style: italic;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 24px;
    margin-left: 58px;
    &::before {
      position: absolute;
      content: "";
      width: 8px;
      height: 100%;
      background: #008baa;
      left: -26px;
    }
  }
  &-second__text {
    font-size: 14px;
    line-height: 1.3;
  }
  &-third__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 8px;
  }
  &-third__text {
    font-size: 14px;
    line-height: 1.3;
  }
  &-table {
    margin: 16px 16px 32px 16px;
    table {
      width: 100%;
      border-spacing: 0px;
      border-collapse: collapse;
    }
    &__head td {
      height: 48px;
      font-family: "DM Sans";
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1px;
      padding: 16px;
      background: rgb(224, 224, 224);
      font-weight: bold;
      text-align: left;
    }
    &__body td {
      font-family: "DM Sans";
      font-size: 14px;
      line-height: 20px;

      align-items: center;
      letter-spacing: 0.1px;

      padding: 16px;
      text-align: left;
      background: none;
    }
    &__border {
      border-bottom: 1px solid rgb(224, 224, 224);
    }
  }
  &-list {
    margin-bottom: 24px;
    &__title {
      font-size: 14px;
      line-height: 1.3;
      margin-bottom: 8px;
    }
    &__items {
      padding-left: 36px;
    }
    &__item {
      list-style-type: disc;
      font-size: 14px;
      line-height: 1.3;
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
  &-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-block__number {
    font-family: "Trebuchet MS";
    font-size: 100px;
    line-height: 116px;
    letter-spacing: -0.05em;
    color: #777777;
  }
  &-block__title {
    font-size: 30px;
    line-height: 31px;
  }
  &-block__descr {
    font-size: 20px;
    line-height: 25px;
    color: #777777;
  }
}
